$gradient: #9466ff;
$brand-rostelecom-purple-dark-theme: #9466ff;
$brand-rostelekom-green-dark-theme: #16d9a6;
$brand-rostelekom-purple: #70f;
$brand-rostelekom-orange: #ff4f12;
$brand-rostelekom-dark-blue: #273a64;
$text-and-components-95: #1d2533;
$text-and-components-transparent-100-night: #e8e9ea;
$text-and-components-transparent-75-night: #a5a8ad;
$text-and-components-transparent-50-night: #777c85;
$text-and-components-transparent-25-night: #565c66;
$text-and-components-transparent-10-night: #333a47;
$text-and-components-transparent-5-night: #2a323f;
$text-and-components-transparent-3-night: #242c39;
$text-and-components-black: #101828;
$secondary-palette-red: #ff4747;
$secondary-palette-yellow: #ffca00;
$secondary-palette-light-blue: #4075ff;
$secondary-palette-pink: #ffbfc3;
$secondary-palette-green: #26da72;